<h3>Password Reset Request</h3>
<p>Hello <%= name %>,</p>
<p>We have received your request to reset your password. Please click the link below to complete the reset:</p>
<a href="<%= resetPasswordLink %>">Reset My Password</a>
<p>If you need additional assistance, or you did not make this change, please contact <%= config?.app?.helpEmail %>.</p>
<p>Cheers,</p>
<p>The <%= config?.app?.name %> Team</p>
