<h3>Welcome</h3>
<p>Hello <%= name %>,</p>
<p>Congratulations on your successful registration.</p>
<p>Please use your email address as username and reset your password from the application.</p>
<p>If you need additional assistance, please contact <%= config?.app?.helpEmail %>.</p>
<p>Cheers,</p>
<p>The <%= config?.app?.name %> Team</p>
